# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env

# Editor settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Cache
.cache/

# Logs
npm-debug.log*
yarn-debug.log*

